<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> <%= t("login.login") %> </h2>
    <div class="fadeIn first">
      <img src="/assets/logo.jpg" id="icon" alt="User Icon" />
    </div>
    <%= form_for(:session, url: login_path) do |f| %>
    <form>
      <%= f.email_field :email, type: "text", class: "fadeIn second", placeholder: "email" %>
      <%= f.password_field :password, type: "text", class: "fadeIn third", placeholder: "password" %>
      <%= f.submit t("login.login"), type: "submit", class: "fadeIn fourth login" %>
    </form>
    <% end %>
    <div id="formFooter">
      <a class="underlineHover" href="#"><%= t("login.forgot") %></a>
    </div>
  </div>
</div>
