<!-- Open Content -->
<section class="bg-light">
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-5 mt-5">
        <div class="card mb-3">
          <!-- <img class="card-img img-fluid cart_image" src="/assets/shop_03.jpg" alt="Brand Logo"> -->
          <%= image_tag display_image(@product), class: "card-img img-fluid" %>
        </div>
      </div>

      <!-- col end -->
      <div class="col-lg-7 mt-5">
        <div class="card">
          <div class="card-body">
            <h1 class="h2"><%= @product.name %></h1>
            <p class="h3 py-2">$
              <%= @product.price %></p>
            <p class="py-2">
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-secondary"></i>
              <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
            </p>
            <h6><%= t("store.description") %></h6>
            <p><%= @product.description %></p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6><%= t("cart.discount") %></h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted">
                  <strong><%= @product.discount %></strong>
                </p>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6><%= t("store.quantity_on_store") %></h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted">
                  <strong><%= @product.quantity %>
                  </strong>
                </p>
              </li>
            </ul>
            <%= form_with url: add_cart_path, method: :get, remote: true do |f| %>
            <input type="hidden" name="product-title" value="Activewear">
            <div class="row">
              <div class="col-auto">
                <ul class="list-inline pb-3">
                  <li class="list-inline-item">Size :
                    <input type="hidden" name="product-size" id="product-size" value="S">
                  </li>
                  <li class="list-inline-item">
                    <span class="btn btn-success btn-size">S</span></li>
                  <li class="list-inline-item">
                    <span class="btn btn-success btn-size">M</span></li>
                  <li class="list-inline-item">
                    <span class="btn btn-success btn-size">L</span></li>
                  <li class="list-inline-item">
                    <span class="btn btn-success btn-size">XL</span></li>
                </ul>
              </div>
              <div class="col-auto">
                <ul class="list-inline pb-3">
                  <li class="list-inline-item text-right">
                    <%= t("cart.quantity") %>
                    <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                  </li>
                  <li class="list-inline-item">
                    <%= f.number_field :quantity, value: 1, min: 1,class: "form-control"%>
                    <%= f.hidden_field :product_id, value: @product.id %>
                </ul>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col d-grid">
                <%= f.submit t("store.add_to_cart"), class: "btn btn-block btn-success"%>
              </div>
              <div class="col d-grid">
                <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Add To Cart</button>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Close Content -->
<%= render "related" %>
