<% @products.each do |product| %>
<tr>
  <td>
    <%= link_to detail_path(id: product.id) do %>
    <!-- <img class="card-img rounded-0 img-fluid" src="/assets/shop_03.jpg" style="width:50px;height:60px;"> -->
    <%= image_tag product.display_image_on_cart, class: "card-img rounded-0 img-fluid" %>
    <% end %>
  </td>
  <td><%= product.name %></td>
  <td><%= product.discount %> %</td>
  <td class="text-right"><%= product.price %> €</td>
  <td><%= quantity_item(product.id) %>  </td>
  <td class="text-right">
  </td>
  <td class="text-right"><%= sub_total(product) %> €</td>
</tr>
<% end %>
