<div class="container mb-4" id="cart-box">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"><%= t("cart.product") %></th>
              <th scope="col"><%= t("cart.discount") %></th>
              <th scope="col" class="text-right"><%= t("cart.price") %></th>
              <th scope="col" class="text-center"><%= t("cart.quantity") %></th>
              <th scope="col" class="text-right"></th>
              <th scope="col" class="text-right"><%= t("cart.sub_total_item") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render "line_product" %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= t("cart.sub_total") %></td>
              <td class="text-right"><%= total_cart(@products) %>
                €</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= t("cart.shipping") %></td>
              <td class="text-right">0 €</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <strong><%= t("cart.total") %></strong>
              </td>
              <td class="text-right">
                <strong><%= total_cart(@products) %>
                  €</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= render "form_info_shipping" %>
  </div>
</div>
</div>
